<section class="card">
  <div class="card-body text-center">
    <h1>Acerca de la App</h1>
    <p>
      APP NOTAS surge de la necesidad de tener siempre a mano tareas a realizar o simplemente pequeñas notas que nos
      ayudan en la rutina diaria.
      <hr>
      APP NOTAS está creada con las tecnologías más demandadas del momento en la industria del desarrollo web.
    </p>

    <div class="text-center">
      <a class="btn btn-primary btn" href="/auth/signin" role="button">Ingresá</a> <hr>
      <p class="text-center">Aún no tienes una cuenta? <a href="/auth/signup" class="text-info">Registrate</a></p>
    </div>
  </div>
</section>