<div class="card card-body text-center p-5 mt-4">
  <h1 class="display-4">App de Notas</h1>
  <p class="lead">Una aplicación sencilla para gestionar notas desarrollada con las siguienes tecnologías: Nodejs, Express,
    Mongodb y Javascript.</p>
  <hr class="my-4" />
  <h2>Crea tu usuario!</h2>
  
  <p>  Registrate y accedé desde cualquier dispositivo a tus notas! No dejes ninguna tarea sin realizar. App recomedable e intuitiva. 
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>